@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;


  --b-x-offset: 0%;
  --b-y-offset: 80%;
  
  --background-gradient: radial-gradient(circle at var(--b-x-offset) var(--b-y-offset), #1D1D1D, #0D0D0D);

  --aim-grad: linear-gradient(45deg, #FC5836, #CB2455, #9317C1, #24CBF3, #30E548, #DCFF01);

  --off-white: 225, 225, 225;
  --gray: 126, 126, 126;

  
  --labs-c1: 255, 122, 0;
  --labs-c2: 127, 0, 254;

  --workshops-c1: 255, 83, 12;
  --workshops-c2: 255, 5, 116;

  --generator-c1: 0, 255, 240;
  --generator-c2: 173, 0, 255;

  --speakers-c1: 0, 255, 178;
  --speakers-c2: 219, 255, 0;

  --permeate-c1: 255, 230, 1;
  --permeate-c2: 255, 122, 0;
  --permeate-c3: 255, 6, 116;

  --transparency: 0.2;

  --labs-grad: linear-gradient(45deg, rgb(var(--labs-c1)), rgb(var(--labs-c2)));
  --labs-grad-transparent: linear-gradient(45deg, rgba(var(--labs-c1),var(--transparency)), rgba(var(--labs-c2),var(--transparency)));

  
  --workshops-grad: linear-gradient(45deg, rgb(var(--workshops-c1)), rgb(var(--workshops-c2)));
  --workshops-grad-transparent: linear-gradient(45deg, rgba(var(--workshops-c1),var(--transparency)), rgba(var(--workshops-c2),var(--transparency)));

  --generator-grad: linear-gradient(45deg, rgb(var(--generator-c1)), rgb(var(--generator-c2)));
  --generator-grad-transparent: linear-gradient(45deg, rgba(var(--generator-c1),var(--transparency)), rgba(var(--generator-c2),var(--transparency)));

  --speakers-grad: linear-gradient(45deg, rgb(var(--speakers-c1)), rgb(var(--speakers-c2)));
  --speakers-grad-transparent: linear-gradient(45deg, rgba(var(--speakers-c1),var(--transparency)), rgba(var(--speakers-c2),var(--transparency)));
  
  --permeate-grad: linear-gradient(45deg, rgb(var(--permeate-c1)), rgb(var(--permeate-c2)), rgb(var(--permeate-c3)));
  --permeate-grad-transparent: linear-gradient(45deg, rgba(var(--permeate-c1),var(--transparency)), rgba(var(--permeate-c2),var(--transparency)), rgba(var(--permeate-c3),var(--transparency)));

}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  overflow-x: hidden;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.quicklink {
  background-size: cover;

  color: transparent;

}
.quicklink-text {
  color: #00000080;
}

.quicklink-text:hover {
  color: transparent;
}
.container {
  background: var(--background-gradient);

}

.title-tag-text {
  color: rgb(var(--off-white));
  font-size: 2.0rem;
  margin: 30px;
}

.title-desc-text {
  color: rgb(var(--gray));
  font-size: 1.25rem;
  margin: 30px;
}


.off-white-text {
  color: rgb(var(--off-white));
}

.gray-text {
  color: rgb(var(--gray));
}


.clip-background-aim {
  background: var(--aim-grad);
  -webkit-background-clip: text;
  background-clip: text;
}
.clip-background-labs {
  background: var(--labs-grad);
  -webkit-background-clip: text;
  background-clip: text;

}
.clip-background-workshops {
  background: var(--workshops-grad);
  -webkit-background-clip: text;
  background-clip: text;

}
.clip-background-generator {
  background: var(--generator-grad);
  -webkit-background-clip: text;
  background-clip: text;

}
.clip-background-speakers {
  background: var(--speakers-grad);
  -webkit-background-clip: text;
  background-clip: text;

}
.clip-background-permeate {
  background: var(--permeate-grad);
  -webkit-background-clip: text;
  background-clip: text;

}


.background-aim {
  background: var(--aim-grad);
}
.background-labs {
  background: var(--labs-grad);
}
.background-workshops {
  background: var(--workshops-grad);

}
.background-generator {
  background: var(--generator-grad);

}
.background-speakers {
  background: var(--speakers-grad);

}
.background-permeate {
  background: var(--permeate-grad);
}


.border-labs  {
  background: var(--background-gradient) padding-box,
              var(--labs-grad-transparent) border-box;  
}

.border-labs:hover {
  background: var(--background-gradient) padding-box,
              var(--labs-grad) border-box;  
  transition-duration: 100;
  
}

.border-workshops {
  background: var(--background-gradient) padding-box,
              var(--workshops-grad-transparent) border-box;  
    
}

.border-workshops:hover {
  background: var(--background-gradient) padding-box,
              var(--workshops-grad) border-box;  
}

.border-generator {
  background: var(--background-gradient) padding-box,
              var(--generator-grad-transparent) border-box;  
}

.border-generator:hover {
  background: var(--background-gradient) padding-box,
              var(--generator-grad) border-box;  
}

.border-speakers {
  background: var(--background-gradient) padding-box,
              var(--speakers-grad-transparent) border-box;  
}

.border-speakers:hover {
  background: var(--background-gradient) padding-box,
              var(--speakers-grad) border-box;  
}



.border-permeate {
  background: var(--background-gradient) padding-box,
              var(--permeate-grad-transparent) border-box;  
              
}

.border-permeate:hover {
  background: var(--background-gradient) padding-box,
              var(--permeate-grad) border-box;  
}


.event-card:active {

  transform: scale(0.99); 
}

h1 {
  font-size: xxx-large;
  margin: 30px 0 30px 0;
  text-align: center;
}
 h2 {
  font-size: xx-large;
  margin: 15px 0 15px 0;

 }
h3 {
  font-size: x-large;
  margin: 15px 0 15px 0;
}
p {
  font-size: large;
  color: #E1E1E1;
}
.section {
  min-height: 100vh;
  padding: 20px;
}

.title-text {
  color: #E1E1E1;
  font-size: 6rem;
  margin: 30px;
}

.mobile {
  @media screen and (min-width: 800px) {
    display: none;
  }
}

.desktop {
  @media screen and (max-width: 800px) {
    display: none;
  }
}