@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;


  --b-x-offset: 0%;
  --b-y-offset: 80%;
  --background-dark: #0D0D0D;
  --background-light: #1D1D1D;
  --background-gradient: radial-gradient(circle at var(--b-x-offset) var(--b-y-offset), var(--background-light), var(--background-dark));



  --off-white: 225, 225, 225;
  --gray: 126, 126, 126;

  
  --labs-c1: 255, 122, 0;
  --labs-c2: 127, 0, 254;

  --workshops-c1: 255, 83, 12;
  --workshops-c2: 255, 5, 126;

  --generator-c1: 0, 255, 240;
  --generator-c2: 173, 0, 255;

  --speakers-c1: 0, 255, 178;
  --speakers-c2: 249, 255, 0;

  --permeate-c1: 255, 230, 1;
  --permeate-c2: 255, 122, 0;
  --permeate-c3: 255, 6, 116;

  --transparency: 0.3;

  --aim-c1: 252, 88, 54;
  --aim-c2: 203, 36, 85;
  --aim-c3: 147, 23, 193;
  --aim-c4: 36, 203, 243;
  --aim-c5: 48, 229, 72;
  --aim-c6: 220, 255, 1;


  --aim-grad: linear-gradient(45deg, rgb(var(--aim-c1)), rgb(var(--aim-c2)), rgb(var(--aim-c3)), rgb(var(--aim-c4)), rgb(var(--aim-c5)), rgb(var(--aim-c6)));
  --aim-grad-transparent: linear-gradient(45deg, rgba(var(--aim-c1),var(--transparency)), rgba(var(--aim-c2),var(--transparency)), rgba(var(--aim-c3),var(--transparency)), rgba(var(--aim-c4),var(--transparency)), rgba(var(--aim-c5),var(--transparency)), rgba(var(--aim-c6),var(--transparency)));


  --labs-grad: linear-gradient(45deg, rgb(var(--labs-c1)), rgb(var(--labs-c2)));
  --labs-grad-transparent: linear-gradient(45deg, rgba(var(--labs-c1),var(--transparency)), rgba(var(--labs-c2),var(--transparency)));

  
  --workshops-grad: linear-gradient(45deg, rgb(var(--workshops-c1)), rgb(var(--workshops-c2)));
  --workshops-grad-transparent: linear-gradient(45deg, rgba(var(--workshops-c1),var(--transparency)), rgba(var(--workshops-c2),var(--transparency)));

  --generator-grad: linear-gradient(45deg, rgb(var(--generator-c1)), rgb(var(--generator-c2)));
  --generator-grad-transparent: linear-gradient(45deg, rgba(var(--generator-c1),var(--transparency)), rgba(var(--generator-c2),var(--transparency)));

  --speakers-grad: linear-gradient(45deg, rgb(var(--speakers-c1)), rgb(var(--speakers-c2)));
  --speakers-grad-transparent: linear-gradient(45deg, rgba(var(--speakers-c1),var(--transparency)), rgba(var(--speakers-c2),var(--transparency)));
  
  --permeate-grad: linear-gradient(45deg, rgb(var(--permeate-c1)), rgb(var(--permeate-c2)), rgb(var(--permeate-c3)));
  --permeate-grad-transparent: linear-gradient(45deg, rgba(var(--permeate-c1),var(--transparency)), rgba(var(--permeate-c2),var(--transparency)), rgba(var(--permeate-c3),var(--transparency)));
  --fast-rad-x: 100px;
  --fast-rad-y: 100px;
}


body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  color: #E1E1E1;
  

  
}
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.bg-dark {
  background: var(--background-dark);
}

.border-bg-dark {
  border-color: var(--background-dark);
}

.quicklink {
 
  color: transparent;

}
.quicklink-text {
  color: transparent;

}

.quicklink-text:hover {
  color: #00000060;
}

.quicklink-text:active {
  color: #00000085;
}



.container {
  background: var(--background-gradient);

}

.title-tag-text {
  color: rgb(var(--off-white));
}

.title-desc-text {
  color: rgb(var(--gray));
}


.off-white-text {
  color: rgb(var(--off-white));
}

.gray-text {
  color: rgb(var(--gray));
}


.clip-background-aim {
  background: var(--aim-grad);
  -webkit-background-clip: text;
  background-clip: text;
}
.clip-background-labs {
  background: var(--labs-grad);
  -webkit-background-clip: text;
  background-clip: text;

}
.clip-background-workshops {
  background: var(--workshops-grad);
  -webkit-background-clip: text;
  background-clip: text;

}
.clip-background-generator {
  background: var(--generator-grad);
  -webkit-background-clip: text;
  background-clip: text;

}
.clip-background-speakers {
  background: var(--speakers-grad);
  -webkit-background-clip: text;
  background-clip: text;

}
.clip-background-permeate {
  background: var(--permeate-grad);
  -webkit-background-clip: text;
  background-clip: text;

}


.background-aim {
  background: var(--aim-grad);
}
.background-labs {
  background: var(--labs-grad);
}
.background-workshops {
  background: var(--workshops-grad);

}
.background-generator {
  background: var(--generator-grad);

}
.background-speakers {
  background: var(--speakers-grad);

}
.background-permeate {
  background: var(--permeate-grad);
}

.border-aim {
  background: var(--background-gradient) padding-box,
              var(--aim-grad-transparent) border-box;  
}
.noHover{
  pointer-events: none;
}


.border-aim:hover {
  background: var(--background-gradient) padding-box,
              var(--aim-grad) border-box;  

}

.border-labs  {
  background: var(--background-gradient) padding-box,
              var(--labs-grad-transparent) border-box;  
}

.border-labs:hover {
  background: var(--background-gradient) padding-box,
              var(--labs-grad) border-box;  
  
}

.border-workshops {
  background: var(--background-gradient) padding-box,
              var(--workshops-grad-transparent) border-box;  
    
}

.border-workshops:hover {
  background: var(--background-gradient) padding-box,
              var(--workshops-grad) border-box;  
}

.border-generator {
  background: var(--background-gradient) padding-box,
              var(--generator-grad-transparent) border-box;  
}

.border-generator:hover {
  background: var(--background-gradient) padding-box,
              var(--generator-grad) border-box;  
}

.border-speakers {
  background: var(--background-gradient) padding-box,
              var(--speakers-grad-transparent) border-box;  
}

.border-speakers:hover {
  background: var(--background-gradient) padding-box,
              var(--speakers-grad) border-box;  
}



.border-permeate {
  background: var(--background-gradient) padding-box,
              var(--permeate-grad-transparent) border-box;  
              
}

.border-permeate:hover {
  background: var(--background-gradient) padding-box,
              var(--permeate-grad) border-box;  
}


.event-card:active {

  transform: scale(0.99); 
}

h1 {
  color: #FFFFFF;

  font-size: xxx-large;
  margin: 30px 0 30px 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
 h2 {
  font-size: xx-large;
  margin: 15px 0 15px 0;

 }
h3 {
  font-size: x-large;
  margin: 10px 0 10px 0;
}

p {
  font-size: x-large;
}
@media only screen and (max-width: 700px) {
  p {
    font-size: large;
  }
  h3 {
    font-size: large;
  }
  h2 {
    font-size: x-large;
    margin: 10px 0 10px 0;
  
   }
   h1 {
    font-size: xx-large;
    margin: 20px 0 20px 0;
  
   }
}


main {
  width: 100vw;
  overflow-x: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

}

.section-full {
  min-height: 100vh;
  padding: 20px 30px;
}

.section {
  padding: 80px 30px;
}

.title-text {
  color: #E1E1E1;
  font-family: 'Inter', sans-serif;

}
.text-elipses-container {
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-box-orient: vertical; /* Necessary for line clamping */
  overflow: hidden; /* Hides overflowing content */
  text-overflow: ellipsis; /* Displays ellipsis */
  -webkit-line-clamp: 2; /* Limits to 2 lines */
}

.mobile {
  @media screen and (min-width: 800px) {
    display: none;
  }
}

.desktop {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.bg-grad-fast {
  background: radial-gradient(circle at 50% 50%, #FFFFFF30, #FFFFFF10) top right/200% 200%;
  animation: colorChange 1.5s infinite alternate;
}
@keyframes colorChange {
  to {
    background-position:top left;
  }
 }


